{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>MMCS</title>
    <!-- Third Party Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="{%static 'accounts/forgot_password.js' %}"></script>
    <!-- Third Party CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        .rounded-border {
            border-radius: 1rem !important;
        }
        .invisible {
            display: none;
        }
    </style>
</head>

<body onload="performOnLoad()">
    <div class="col-12">
        <div class="col-lg-6 col-12 mx-auto my-5 shadow-lg border rounded-border p-4">
            <h1>Please enter your email</h1>
            <br>
            <form>
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="emailField">Email</label>
                        <input type="email" class="form-control p-3" id="emailField" placeholder="Email">
                    </div>
                </div>
            </form>
            <br>
            <button class="btn btn-md btn-primary" id="sendemail-btn">Submit</button>
            <div id="info-message" class="small invisible mt-3">(Email containing password reset link has been sent to the specified email!)</div><div id="error-message" class="small invisible text-danger mt-3">(An account with the entered email doesn't seem to exist. Please recheck the entered email.)</div>
            <div id="resend-vemail" class="small invisible mt-3">(Your account is not verified yet! Please click <a href="" id="resendvemail-btn">here</a> to resend the verification email.)</div>
            <div id="resend-vemail-result" class="small invisible mt-3"></div>
        </div>
        {% csrf_token %}
    </div>
    <script>
        const email = "{{ email|safe }}";
        const resendfmailurl = "{% url 'forgot_password' %}";
        const resendvmailurl = "{% url 'resend_vmail' %}";
        const homeurl = "{% url 'home' %}"
    </script>
</body>

</html>