{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>MMCS</title>
    <!-- Third Party Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="{%static 'accounts/signup.js' %}"></script>
    <!-- Third Party CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        .rounded-border{
            border-radius: 1rem !important;
        }
        .info-symbol{
            font-size: small;
            color: red;
        }
        #info-dialog {
            background-color: white;
            position: absolute;
            font-size: small;
        }
        .invisible {
            display: none !important;
        }
        .red-border {
            border: 1px solid red;
        }
    </style>
</head>

<body onload="performOnLoad()">
    <div class="col-12 d-flex align-items-center vh-100">
        <div class="col-lg-3 col-9 mx-auto my-auto shadow-lg border rounded-border p-4 pt-5">
            <div class="col-12 mx-auto">
                <h1 class="text-center font-weight-light user-select-none">Change Password</h1>
                <br>
                <form>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="passwordField">Password <span id="passwordFieldInfo" class="info-symbol">&#9432;</span></label>
                        <input type="password" class="form-control p-3 input-field" id="passwordField" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="confirmPasswordField">Confirm Password</label>
                        <input type="password" class="form-control p-3 input-field" id="confirmPasswordField" placeholder="Password">
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-block btn-success p-2" id="changep-btn" disabled>Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="info-dialog" class="invisible border shadow-sm p-3 rounded-border">
            
        </div>
    </div>
    <script>
        const registrationurl = "{% url 'signup' %}";
        const accountshomeurl = "{% url 'accounts_home' %}";
    </script>
</body>

</html>