{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>MMCS</title>
    <!-- Third Party Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Custom Scripts -->
    {% if token_invalid %}
    {% else %}
    <script type="text/javascript" src="{%static 'accounts/reset_password.js' %}"></script>
    {% endif %}
    <!-- Third Party CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        .rounded-border{
            border-radius: 1rem !important;
        }
        .info-symbol{
            font-size: small;
            color: red;
        }
        #info-dialog {
            background-color: white;
            position: absolute;
            font-size: small;
        }
        .invisible {
            display: none !important;
        }
        .red-border {
            border: 1px solid red;
        }
    </style>
</head>

<body onload="performOnLoad()">
    {% if token_invalid %}
    <div class="col-12">
        <div class="col-12 mx-auto my-5 shadow-lg border rounded-border p-4">
            <h1>Link Expired!</h1>
            <br>
            <p>
                This password reset link has expired. Please click <a href="{% url 'forgot_password' %}">here</a> to resend the password reset email.
            </p>
        </div>
    </div>
    <script>
        const performOnLoad = () => {
            //
        }
    </script>
    {% else %}
    <div class="col-12 invisible" id="invalid-token">
        <div class="col-12 mx-auto my-5 shadow-lg border rounded-border p-4">
            <h1>Link Expired!</h1>
            <br>
            <p>
                This password reset link has expired. Please click <a href="{% url 'forgot_password' %}">here</a> to resend the password reset email.
            </p>
        </div>
    </div>
    <div class="col-12 d-flex align-items-center vh-100" id="reset-password-window">
        <div class="col-lg-3 col-9 mx-auto my-auto shadow-lg border rounded-border p-4 pt-5">
            <div class="col-12 mx-auto">
                <h1 class="text-center font-weight-light user-select-none">Reset Password</h1>
                <br>
                <form>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="passwordField">New Password <span id="passwordFieldInfo" class="info-symbol">&#9432;</span></label>
                        <input type="password" class="form-control p-3 input-field" id="passwordField" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="confirmPasswordField">Confirm Password</label>
                        <input type="password" class="form-control p-3 input-field" id="confirmPasswordField" placeholder="Password">
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-block btn-success p-2" id="resetp-btn" disabled>Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="info-dialog" class="invisible border shadow-sm p-3 rounded-border">
            
        </div>
    </div>
    <div class="col-12 invisible" id="reset-successful">
        <div class="col-12 mx-auto my-5 shadow-lg border rounded-border p-4">
            <h1>Password Reset Successful!</h1>
            <br>
            <p>
                The password for the email <b>{{email}}</b> has been reset successfully. Please click the below button to Sign In.
            </p>
            <br>
            <a class="btn btn-md btn-primary" href="{% url 'signin' %}">Sign In</a>
        </div>
    </div>
    <script>
        const homeurl = "{% url 'home' %}";  
        const accountsresetpasswordurl = "{% url 'accounts_reset_password' %}";
        const token = "{{ token|safe }}";
    </script>
    {% endif %}
</body>

</html>