{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>MMCS</title>
    <!-- Third Party Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="{%static 'accounts/signin.js' %}"></script>
    <!-- Third Party CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        .rounded-border {
            border-radius: 1rem !important;
        }
        .red-border {
            border: 1px solid red;
        }
        .invisible {
            display: none;
        }
        #error-message{
            border: 1px solid red;
            border-radius: 0.5rem !important;
            color: red;
            background-color: #fceae8;
            font-size: large;
        }
    </style>
</head>

<body onload="performOnLoad()">
    <div class="col-12 d-flex align-items-center vh-100">
        <div class="col-lg-3 col-9 mx-auto my-auto shadow-lg border rounded-border p-4 pt-5">
            <div class="col-12 mx-auto">
                <h1 class="text-center font-weight-light user-select-none">Sign In</h1>
                <div class="invisible text-center p-2 mt-4" id="error-message">
                    Invalid Credentials
                </div>
                <br>
                <form>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="emailField">Email address</label>
                        <input type="email" class="form-control p-3 input-field" id="emailField" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <label for="passwordField">Password</label>
                        <input type="password" class="form-control p-3 input-field" id="passwordField" placeholder="Password">
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-block btn-success p-2 mb-2" id="signin-btn">Sign In</button>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'forgot_password' %}">Forgot Password</a>
                    </div>
                </form>
                <br>
                <div class="text-center">
                    Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        const summarizerhomeurl = "{% url 'home' %}";
        const loginurl = "{% url 'signin' %}";
        const accountshomeurl = "{% url 'accounts_home' %}";
    </script>
</body>

</html>