{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>MMCS</title>
    <!-- Third Party Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="{%static 'summarizer/upload.js' %}"></script>
    <!-- Third Party CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/d31630a62b.js"></script>
    <!-- Custom CSS -->
    <style>
        .rounded-border {
            border-radius: 1rem !important;
        }

        .file-card {
            background-color: #e9ecef;
            border-color: #d4d9de;
        }

        .file-card-header {
            font-size: medium;
            font-weight: bolder;
            overflow-x: hidden;
        }

        .file-card-header a {
            color: black;
        }

        .file-card-body {
            font-size: small;
            font-weight: normal;
        }

        .modal-body {
            overflow-x: hidden;
        }

        #error-message, #clip-error {
            border: 1px solid red;
            border-radius: 0.5rem !important;
            color: red;
            background-color: #fceae8;
            width: fit-content;
            font-size: normal;
        }

        #success-message, #clip-success {
            border: 1px solid #28a745;
            border-radius: 0.5rem !important;
            color: #24923e;
            background-color: #a7fab9;
            width: fit-content;
            font-size: normal;
        }

        .invisible {
            display: none;
        }

        #info-symbol {
            font-size: small;
            color: red;
        }

        #info-dialog {
            background-color: white;
            position: absolute;
            font-size: small;
            z-index: 100;
        }
    </style>
</head>

<body onload="performOnLoad()">
    {% include "./header.html" %}
    {% csrf_token %}
    <div class="col-12 d-flex align-items-center min-vh-100">
        <div class="col-12 py-3">
            <div class="col-6 mx-auto mt-5 mb-3 shadow border px-5 rounded-border">
                <div class="form-row mt-5">
                    <label class="mb-3">Note <span id="info-symbol">&#9432;</span></label>
                    <div class="form-group my-auto col-12">
                        <input type="file" name="uploadedFile" class="custom-file-input" id="fileinput"
                            aria-describedby="inputGroupFileAddon01"
                            accept="audio/mpeg, audio/wav, video/mpeg, video/mp4, video/mkv, video/mov, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, text/plain, application/pdf">
                        <label class="custom-file-label" style="overflow:hidden" for="fileinput">Choose file</label>
                    </div>
                </div>
                <div id="progressdiv" class="mx-auto my-3 invisible">

                </div>
                <div id="error-message" class="px-5 py-1 mx-auto my-3 invisible">

                </div>
                <div id="success-message" class="px-5 py-1 mx-auto my-3 invisible">
                    File uploaded successfullly!
                </div>
                <div class="form-row my-4">
                    <div class="form-group mx-auto my-auto col-3 text-center">
                        <button class="btn btn-block text-center"
                            style="background-color: #e9ecef; border-color: #d4d9de" id="uploadbtn">Upload</button>
                        <button class="btn btn-block btn-danger text-center invisible" id="cancelbtn">Cancel</button>
                    </div>
                </div>
            </div>
            {% if notsummarizedpresent %}
            <div class="col-12 mx-auto shadow-lg border p-4 rounded-border" style="max-height: 55vh; overflow-y: auto"
                id="filesuploadeddiv">
                <div class="text-center mb-3">
                    <h3>Files Uploaded</h3>
                </div>
                <div class="col-12">
                    <div class="row" id="filesuploadedarea">
                        {% for filedata in files_details %}
                        <div class="file-card p-3 my-3 col-md-5 col-12 mx-auto">
                            <div class="file-card-header">
                                <a href="{{ filedata.fileurl }}" target="_blank">{{ filedata.filename }}</a>
                            </div>
                            <hr>
                            <div class="file-card-body">
                                Uploaded on: {{ filedata.uploaddate }}<br><br>
                                File type: {{ filedata.filetype }}
                                {% if filedata.filetype != 'TEXT' %}
                                <br><br>
                                DURATION: <div id="duration-{{ filedata.fileid }}" style="display:inline;">{{ filedata.start_time.hours }}: {{ filedata.start_time.minutes }}: {{ filedata.start_time.seconds }} to {{ filedata.end_time.hours }}: {{ filedata.end_time.minutes }}: {{ filedata.end_time.seconds }}</div> (HH: MM: SS) &nbsp;&nbsp;<button class="btn btn-sm btn-info clip-media-btn py-0 px-2" style="font-size: 0.75rem;" id="{{ filedata.fileid }}-clip-btn">Clip</button>
                                {% endif %}
                                <br>
                            </div>
                            <hr>
                            <div class="file-card-footer">
                                <button class="summary-btn btn btn-sm btn-primary float-left" id="{{ filedata.fileid }}">Generate
                                    Summary</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-12 mx-auto shadow-lg border p-4 rounded-border invisible"
                style="max-height: 55vh; overflow-y: auto" id="filesuploadeddiv">
                <div class="text-center mb-3">
                    <h3>Files Uploaded</h3>
                </div>
                <div class="col-12">
                    <div class="row" id="filesuploadedarea">

                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="modal" id="summary-queued-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title queue-modal-title mx-auto">Queued Succesfully!</h5>
                    </div>
                    <div class="modal-body queue-modal-body text-center">
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div id="info-dialog" class="invisible border shadow-sm p-3 rounded-border">

    </div>
    <div class="modal" id="summary-queued-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mx-auto">Queued Succesfully!</h5>
                </div>
                <div class="modal-body text-center">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="clip-media-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mx-auto">Set from and to</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label for="to-time" class="input-label col-2">From: </label>
                            <input type="number" id="from-time-hours" placeholder="HH" class="col-3 text-center clipper-input" min="0"> : 
                            <input type="number" id="from-time-minutes" placeholder="MM" class="col-3 text-center clipper-input" min="0" max="59" maxlength="2"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"> : 
                            <input type="number" id="from-time-seconds" placeholder="SS" class="col-3 text-center clipper-input" min="0" max="50" maxlength="2"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
                        </div>
                        <br>
                        <div class="col-12">
                            <label for="to-time" class="input-label col-2">To: </label>
                            <input type="number" id="to-time-hours" class="col-3 text-center clipper-input" placeholder="HH" min="0"> : 
                            <input type="number" id="to-time-minutes" class="col-3 text-center clipper-input" placeholder="MM" min="0" max="50" maxlength="2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" > : 
                            <input type="number" id="to-time-seconds" class="col-3 text-center clipper-input" placeholder="SS" min="0" max="50" maxlength="2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
                        </div>
                        <div id="clip-success" class="px-5 py-1 mx-auto my-3 invisible">
                            Clip Interval set successfully!
                        </div>
                        <div id="clip-error" class="px-5 py-1 mx-auto my-3 invisible">
                            Invalid Time Intervals!
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="clip-reset-duration">Set</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var loginurl = "{% url 'signin' %}";
        var homeurl = "{% url 'home' %}";
        var addtoqueueurl = "{% url 'addtoqueue' %}"; 
        var filesdetails = {{ files_details|safe }};
    </script>
</body>

</html>